{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<h1>I am me and me is me...</h1>
  <img class="img-rounded img-responsive" src="static/images/my_icon.jpg" alt="My avatar" />
    <br/>
    <br/>
    <p>
    >>> <a href="https://github.com/Xuz99">Made by this guy</a> <<<
    <br/>
    >>> <a href="https://bitbucket.org/Xuz99/cw2_set09103">Code for this all the way over here</a> <<<
    <p/>



{% endblock %}
