{% extends "base.html" %}
{% block title %}My account{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h2>Welcome <span style="color:blue;">{{ session['username']}}</span></h2>
    <h3>My URLS</h3>

      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th>ID#</th>
            <th>Long</th>
            <th>Short</th>
            <th>Copy</th>
          </tr>
          {% for url in user_urls %}
          <tr>
            <td>{{ url.rowid }} </td>
            <td>{{ url.full_url }} </td>
            <td><a target="_blank" href="{{ url.short_url }}">http://localhost:5000/{{ url.short_url }}</a></td>
            <td><input type="button" style="padding: 0px; font-size: 18px;" class="copy-btn btn btn-primary btn-sm" data-clipboard-text="http://localhost:5000/{{ url.short_url }}" value="Copy"/></td>
          </tr>
          {% endfor %}
        </table>
      </div>

  </div>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.13/clipboard.min.js"></script>
  <script>
  var clipboard = new Clipboard('.copy-btn');

    clipboard.on('success', function(e) {
        alert('Copied to clipboard')
    });

    clipboard.on('error', function(e) {
        alert('Sorry. There has been an error')
    });
  </script>

{% endblock %}
