<!DOCTYPE html>
<html lang="en">

<head>
    <title>Johny's URL Shortener App</title>

    <!-- Boostrap code -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <!-- Boostrap code -->

    <!-- Bootstrap alt theme -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap alt theme -->

    <!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                      <a class="btn btn-default" href="/">Home</a>
                    </li>
                    {% if session['username'] %}
                      <li role="presentation" >
                        <a class="btn btn-info" href="/account">Welcome: {{ session['username']}}</a>
                      </li>
                      <a href="/logout">
                        <input class="btn btn-warning" type="submit" value="Logout"/>
                      </a>
                    {% else %}
                    <li role="presentation">
                      <a class="btn btn-default" href="/login">Sign In</a>
                    </li>
                    <li role="presentation">
                      <a class="btn btn-default" href="/register">Sign Up</a>
                    </li>
                  {% endif %}

                </ul>
            </nav>
            <a href="/">
              <h3 class="text-muted">Johny's URL Shortener App</h3>
            </a>
        </div>

        <div class="container">
           {% block content %}
           {% endblock %}
        </div>

        <footer class="footer">
            <p>&copy; Johny's URL Shortener App 2016 | <a href="static/docs/Privacy_Policy.pdf" target="_blank">Privacy Policy</a> | <a href="/about_us">About Us</a></p>
        </footer>

    </div>
</body>

</html>
