{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
      <h1>Johny's URL Shortener App</h1>
      <h4>CW2_SET09103 Python Flask App</h4>

  <form action = "{{ url_for('shorten_url') }}" method="post" >
  <div class="form-group">
    <input class="btn btn-lg btn-success" type="submit" value="Enter URL"/><br/><br/>
    <input class="form-control input-lg" type="text" name="url" type="url" placeholder="Paste a link to shorten it" required/>
  </div>
  </form>

  </div>
{% endblock %}
