{% extends "base.html" %}
{% block title %}Site Login{% endblock %}
{% block content %}
<div class="jumbotron">
            <h1>Johny's URL Shortener App</h1>
            <p>
              Login to see your saved URLs or <a href="/register">Sign up for an account</a>
            </p>

          <form class="" action="{{ url_for('login') }}" method="post">
           <div class="form-group">
             <label for="username">Username:</label>
             <input type="text" class="form-control" id="username" name="username" required>
           </div>
           <div class="form-group">
             <label for="pwd">Password:</label>
             <input type="password" class="form-control" id="pwd" name="password" required>
           </div>
           <button type="submit" class="btn btn-default">Login</button>
         </form>
        </div>
{% endblock %}
