{% extends "base.html" %}
{% block title %}Register and account{% endblock %}
{% block content %}

        <div class="jumbotron">
            <h1>Johny's URL Shortener App</h1>
            <p>
              Want to save your shortened URLs?
              Then make an account and save them all for free.
            </p>
            <p>
              <a href="/login">Login here if you already have an account</a>
            </p>

          <form class="" action="{{ url_for('register_user') }}" method="post">
           <div class="form-group">
             <label for="username">Username:</label>
             <input type="text" class="form-control" id="username" name="username" required>
           </div>
           <div class="form-group">
             <label for="pwd">Password:</label>
             <input type="password" class="form-control" id="pwd" name="password" required>
           </div>
           <div class="checkbox">
             <label><input type="checkbox"> Remember me</label>
           </div>
           <button type="submit" class="btn btn-default">Register</button>
         </form>
        </div>
{% endblock %}
