{% extends "base.html" %}
{% block title %}Short URl{% endblock %}
{% block content %}

        <div class="jumbotron">
            <h2>The short url is:</h2>

        	<a href="{{ short_url }}"><h3>localhost:5000/{{ short_url }}</h3></a>

        </div>

{% endblock %}
